# general parameters
namespace: devops
# deployment parameters
replicasCount: 1
image:
  name: app2
  repository: devopsorient.azurecr.io/webpage8002
  tag: latest
  containerPort: 80
resources:
  memory: "256Mi"
  cpu: "0.1"
env:
  valueMessage: "App 2 "
  valuePort: "80"
  secret: mysecret
# service parameters
service:
  protocol: TCP
  portExpose: 80
  portTarget: 80

serviceAccountName: service-account-1