apiVersion: v1
kind: Service
metadata:
  name: web-server
  namespace: devops
spec:
  selector:
    app: web-server-nginx
  type: ClusterIP
  sessionAffinity: None
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800
  ports:
  - name: web-server
    protocol: TCP
    port: 80
    targetPort: 80